<div class="row">
  <div class="col-xs-12">
    <h1>Daily Routine</h1>
    <p class="text-light">Here you can add your daily routine items</p>

    <app-daily-routine-modal></app-daily-routine-modal>
    <hr />

    <div>
          <table class="table table-dark table-sm table-bordered table-hover">
            <thead>
              <tr class="routineThr">
                <th>Time</th>
                <th>Duration (minutes)</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="userData$ | async as userData" >
                <ng-container *ngFor="let dailyRoutineItem of userData.dailyRoutines; let i = index;" >
                  <tr class="routineTr" *ngIf="dailyRoutineItem?.id && dailyRoutineItem?.id !== edit">
                    <td class="timeCell">
                      <!-- <app-time-cell [itemId]="dailyRoutineItem.id" [value]=" startTimes[i]" (save)="onSaveItem($event)" ></app-time-cell> -->
                      <app-time-cell [itemId]="dailyRoutineItem.id" [value]="dailyRoutineItem.time.hours.toString().padStart(2,'0') + ':' + dailyRoutineItem.time.minutes.toString().padStart(2,'0')" (save)="onSaveItem($event)" ></app-time-cell>
                    </td>
                    <td class="durationCell">
                      <app-duration-cell [itemId]="dailyRoutineItem.id" [value]="dailyRoutineItem.duration" (save)="onSaveItem($event)" ></app-duration-cell>
                    </td>
                    <td class="descriptionCell">
                      <div class="inline">
                        <app-description-cell [itemId]="dailyRoutineItem.id" [value]="dailyRoutineItem.description" (save)="onSaveItem($event)" #description></app-description-cell>
                        <app-daily-routine-modal [dailyRoutineItem]="dailyRoutineItem" *ngIf="!description.editing"></app-daily-routine-modal>
                        <button class="btn btn-link btn-sm deleteButton" *ngIf="!description.editing" (click)="onDeleteItem(dailyRoutineItem)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
      </div>
  </div>
</div>
