<div class="row">
  <div class="col-xs-12">
    <h1>Goals</h1>
    <p class="text-light">Here you can add and manage your goals</p>

    <app-new-goal-modal></app-new-goal-modal>

    <div class="col-xs-12 col-md-9">
      <ng-container *ngFor="let goalType of goalTypes; let i = index">
        <h3>{{ goalType.goalTypeName }} Goals</h3>
        <table class="table table-dark table-sm table-striped table-bordered table-hover">
          <thead>
            <tr class="routineThr">
              <th>Goal</th>
              <th>Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let goalItem of goalItems[i]">
              <tr class="routineTr">
                <td class="goalNameField">
                  <app-text-cell [itemId]="goalItem.id" [value]="goalItem.goalName" (save)="onSaveItem($event)" fieldName="goalName" ></app-text-cell>
                </td>
                <td class="goalDateField">
                  <app-text-cell [itemId]="goalItem.id" [value]="goalItem.goalDate | date:goalType.dateFormat" (save)="onSaveItem($event)"></app-text-cell>
                </td>
                <td class="textCell">
                  <div class="inline">
                    <app-text-cell [itemId]="goalItem.id" [value]="goalItem.description" (save)="onSaveItem($event)" #description fieldName="description"></app-text-cell>
                    <button class="btn btn-link btn-sm deleteButton" *ngIf="!description.editing" (click)="onDeleteItem(goalItem.id)">Delete</button>
                  </div>

                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </ng-container>


      </div>
  </div>
</div>
