
table {
  background-color: rgb(24, 24, 24);
}

.table-sm>:not(caption)>*>* {
  padding-left: 0.2rem;
}

.table-hover tbody tr:hover {
  --bs-table-accent-bg: #151515;
}

.routineThr {
  padding-top: 2rem;

}

.routineThr th {
  color: #aaaaaa;
}

.routineTr td {
  color: gray;
}

h1 {
  color: rgb(177, 124, 9);
}

h3 {
  color: #0944B0;
}

.form-control {
  background-color: #303030;
  color: white;
}

.inline {
  display: inline;
}

.deleteButton {
  color: rgb(98, 97, 102);
}

.deleteButton:hover {
  color: #0d6efd;
}

button {
  color: #0d6efd;
}

.durationCell {
  max-width: 2rem;
  /* min-width: 100px; */
  /* padding-left: 0.2rem; */
}

.durationInput {
  max-width: 5rem;
}

.timeCell {
  min-width: 70px;
  /* text-align: center; */
  /* padding-left: 0.2rem; */
}

.textCell {
  max-width: 20rem;
  /* text-align: left; */
}

.goalDateField {
  width: 8rem;
}

.goalNameField {
  width: 15rem;
}
