<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Goal</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
    <form #goalItemForm="ngForm" (ngSubmit)="onSubmit(goalItemForm)">

      <div class="mb-3">
        <label for="goalName" class="form-label text-light" >Goal Name</label>
        <input type="text" id="goalName" class="form-control" data-bs-theme="dark" [(ngModel)]="goalName" name="goalName" required>
      </div>

      <div class="mb-3">
        <label for="goalType" class="form-label text-light">Type of Goal:</label>
        <select name="goalType" class="form-control" [(ngModel)]="selectedGoalTypeIndex" (ngModelChange)="onSelectChange($event)">
          <option *ngFor="let goalType of goalTypes; let i = index" [ngValue]="i" [selected]=" i === 0">
            {{ goalType.goalTypeName }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label text-light">Status:</label>
        <select name="status" class="form-control" [(ngModel)]="selectedStatusIndex" (ngModelChange)="onSelectChange($event)">
          <option *ngFor="let status of statusTypes; let i = index" [ngValue]="i" [selected]=" i === 0">
            {{ statusTypes[i] }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="priority" class="form-label text-light">Priority</label>
        <input type="number" class="form-control" data-bs-theme="dark" [(ngModel)]="priority" name="priority" required>
      </div>

      <div class="mb-3">
        <label for="goalDate" class="form-label text-light">Date</label>
        <input type="date" class="form-control" data-bs-theme="dark" [(ngModel)]="defaultDate" name="goalDate" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label text-light">Description</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="description" name="description" required maxlength="100">
      </div>

    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-light" (click)="save(goalItemForm)" [disabled]="!goalItemForm.valid">Save</button>
	</div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(content)" *ngIf="!goalItem?.id">New</button>
<button class="btn btn-link btn-sm linkButton" *ngIf="goalItem?.id" (click)="open(content)">Edit</button>

